/* icon */
.jobIcon_01{ background: url(../images/icon_job.png) no-repeat 0 0; }
.jobIcon_02{ background: url(../images/icon_job.png) no-repeat 0 -66px; }
.jobIcon_03{ background: url(../images/icon_job.png) no-repeat 0 -132px; }
.jobIcon_04{ background: url(../images/icon_job.png) no-repeat 0 -199px; }
.jobIcon_05{ background: url(../images/icon_job.png) no-repeat 0 -265px; }

.iconBox{ background: #4c4c4c; height: 61px; width: 60px; padding: 5px; }
.iconBox i{ height: 61px; width: 60px; display: block; }
