<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>馨嘉达装饰 - 关于我们</title>
<link href="__CSS__/main.css" rel="stylesheet" />
<link href="__CSS__/about.css" rel="stylesheet" />
</head>

<body>
<!-- header start -->
<div class="wrapper header" >
	<div id="logo"><a href="#" title="嘉馨达装饰"></a></div>
	<ul class="mainNav">
		<li><a href="/">首页</a></li>
		<li><a href="case.html">案例展示</a></li>
		<li><a href="gongyi.html">工艺展示</a></li>
		<li><a href="activity.html">最新活动</a></li>
		<li><a href="progres.html">进度查询</a></li>
		<li class="current"><a href="about.html">关于我们</a></li>
		<li><a href="job.html">人才招聘</a></li>
		<li><a href="contact.html">联系我们</a></li>
	</ul>
	<ul class="toolbar">
		<li class="tel"><a href="#"></a></li>
		<li class="email"><a href="#"></a></li>
		<li class="qq"><a href="#"></a></li>
	</ul>
</div>
<!-- header end -->

<!-- focus start -->
<div class="wrapper aboutFocus">
	<div class="wrapper980">
		<div class="aboutColumnTitle">
			<p class="en">About Us</p>
			<p class="cn">关于我们</p>
		</div>
	<div class="clear"></div>
	</div>
</div>
<!-- focus end -->

<!-- main start -->
<!--公司简介-->
<div class="wrapper" style="background:#fff;">
	<div class="wrapper980">
		<!--简介-->
		<div class="aboutDescription">
			<img src="__IMG__/about/cover.jpg" align="left" height="328" width="580" />
<p>
	成都佳馨达装饰工程有限责任公司于2003年5月成立，公司依托诚信待客、专业务实、不断进取的企业精神，已走过十余年的发展历程，先后完成成华区教育局办公室装修工程、成华区民政局办公大楼装修工程、成华区统计局办公室装修工程、成华区妇幼保健院装修工程、成华区府青路街道办事处办公室装修工程、成华区社区整治工程、95607部队办公楼装修工程、95607部队招待所装修工程、95607部队三个营区改造装修工程、96605部队办公室装饰工程、双流武装部装修工程等等诸多装修工程，为企业可持续发展奠定了良好的基础，在业界也赢得了良好的声誉。
</p>
<p>
	2011年以来佳馨达公司不断进取，调整经营方向，优化组织结构，以为客户着想的理念、以市场为导向，以严谨的创意和现代、多元设计风格取胜，赢得了客户的信任和支持。公司家装项目已在成都青秀城、果壳里的城、蓝光凯丽香江、金林半岛、罗浮世家、巴黎阳光、四季花城、南城都汇、东方明珠、金沙苑、君临天下、东升国际、天鹅湖、红帆风林假日等呈现。<br />
在面临21世纪公司新一轮整合发展、提档升级过程中，我们将以更开放、更专业、更务实、更卓越的态度为客户创造值得信赖的品牌和价值，为员工提供一个成长发展的事业平台。
</p>
<p>
	成都佳馨达装饰工程有限公司隶属于四川炳辰建筑工程有限公司，是其拥有独立法人资格的子公司。四川炳辰建筑工程有限公司是一家立足四川，面向全国发展的建筑工程公司。公司秉承“资源整合、创新发展”的经营理念，于2014年5月设立。<br />
经营范围：房屋建筑工程施工承包、市政公用工程施工总承包、建筑装饰工程专业承包、混凝土预制构件专业承包，销售：五金交电、建筑材料。
</p>
		<div class="clear"></div>
		</div>
		
		<!--宗旨-->
		<dl class="aboutTenet">
			<dt>公司宗旨</dt>
			<dd>做一个工程，建一个样板，立一个口碑<span class="line"></span></dd>
			
			<dt>公司精神</dt>
			<dd>勤奋学习、开拓创新、科学规范、服务至上<span class="line"></span></dd>
			
			<dt>公司理念</dt>
			<dd>以贴心服务赢得客户，以科学管理发展企业<span class="line"></span></dd>
			
			<dt>公司使命</dt>
			<dd>我们致力于成为当地一家具有竞争力与影响力的知名建筑工程&装饰设计公司<span class="line"></span></dd>
		</dl>
	<div class="clear"></div>
	</div>
<div class="clear"></div>	
</div>

<!--team 团队-->
<div class="wrapper" style="background:#e5e5e5;">
	<div class="wrapper980">
		<div class="teamColumnTitle">
			<p class="en">Our Team</p>
			<p class="cn">我们的团队</p>
		</div>
		
		<!--team list-->
		<div class="teamBlock">
			<div class="lead">
				<a href="#">
				<img src="__IMG__/about/team/01.jpg" style="width:490px; height:370px;" />
				<div class="right">
					<h3>林彬<span>设计总监</span></h3>
					<p class="info">
						我来自郑州，我是一名信息工程大学印刷工程专业应届本科即将毕业的学员。我的性格偏于内向，为人坦率、热情、讲求原则；处事乐观、专心、细致、头脑清醒；富有责任心、乐于助人。
					</p>
				</div>
				</a>
			</div>
			<!--list-->
			<ul class="list">
				<li>
					<a href="#">
					<img src="__IMG__/about/team/02.jpg" style="width:490px; height:370px;" />
					<div class="info">
						<h3>陈代林<span>设计师</span></h3>
						<p>
						我来自郑州，我是一名信息工程大学印刷工程专业应届本科即将毕业的学员。我的性格偏于内向，为人坦率、热情、讲求原则；处事乐观、专心、细致、头脑清醒；富有责任心、乐于助人。
						</p>
					</div>
					</a>
				</li>
				
				<li>
					<a href="#">
					<img src="__IMG__/about/team/03.jpg" style="width:490px; height:370px;" />
					<div class="info">
						<h3>李慧<span>设计师</span></h3>
						<p>
						我来自郑州，我是一名信息工程大学印刷工程专业应届本科即将毕业的学员。我的性格偏于内向，为人坦率、热情、讲求原则；处事乐观、专心、细致、头脑清醒；富有责任心、乐于助人。
						</p>
					</div>
					</a>
				</li>
				
				<li>
					<a href="#">
					<img src="__IMG__/about/team/04.jpg" style="width:490px; height:370px;" />
					<div class="info">
						<h3>潘冰<span>设计师</span></h3>
						<p>
						我来自郑州，我是一名信息工程大学印刷工程专业应届本科即将毕业的学员。我的性格偏于内向，为人坦率、热情、讲求原则；处事乐观、专心、细致、头脑清醒；富有责任心、乐于助人。
						</p>
					</div>
					</a>
				</li>
				
				<li>
					<a href="#">
					<img src="__IMG__/about/team/05.jpg" style="width:490px; height:370px;" />
					<div class="info">
						<h3>李红<span>设计师</span></h3>
						<p>
						我来自郑州，我是一名信息工程大学印刷工程专业应届本科即将毕业的学员。我的性格偏于内向，为人坦率、热情、讲求原则；处事乐观、专心、细致、头脑清醒；富有责任心、乐于助人。
						</p>
					</div>
					</a>
				</li>
			</ul>
		</div>
	<div class="clear"></div>
	</div>
<div class="clear"></div>
</div>
<!-- main end -->

<!-- footer start -->
<div class="wrapper footer">
	<ul class="left">
		<li>
			<p class="title">联系我们&nbsp;·&nbsp;CONTACT US</p>
			<p class="link">Tel：028-84700028<span>|</span>E-mail：1158753448@qq.com<span>|</span>Add：成都市锦江区静沙南路18号A座11楼01-03号</p>
		</li>
		<li>
			<p class="title">相关分享 · LEGAL NOTICES</p>
			<p class="link"><a href="#">微信</a><a href="#">微博</a><a href="#">二维码</a></p>
		</li>
	</ul>
	<div class="right">
		<p class="copy">版权所有：Copyright © 2014 The INGO BK Company</p>
		<p class="nav"><a href="#">网站首页</a><span>|</span><a href="#">产品中心</a><span>|</span><a href="#">网站导航</a><span>|</span><a href="contact.html">联系我们</a></p>
	</div>
</div>
<!-- footer end -->
</body>
<script src="js/jquery.min.js"></script>
</html>
