<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>馨嘉达装饰 - 案例展示</title>
<link href="__CSS__/main.css" rel="stylesheet" />
<link href="__CSS__/case.css" rel="stylesheet" />
</head>

<body>
<!-- header start -->
<div class="wrapper header" >
	<div id="logo"><a href="#" title="嘉馨达装饰"></a></div>
	<ul  class="mainNav">
		<li><a href="/">首页</a></li>
		<li class="current"><a href="case.html">案例展示</a></li>
		<li><a href="gongyi.html">工艺展示</a></li>
		<li><a href="activity.html">最新活动</a></li>
		<li><a href="progres.html">进度查询</a></li>
		<li><a href="about.html">关于我们</a></li>
		<li><a href="job.html">人才招聘</a></li>
		<li><a href="contact.html">联系我们</a></li>
	</ul>
	<ul class="toolbar">
		<li class="tel"><a href="#"></a></li>
		<li class="email"><a href="#"></a></li>
		<li class="qq"><a href="#"></a></li>
	</ul>
</div>
<!-- header end -->

<!-- focus start -->
<div class="wrapper caseFocus" style="background: url(__IMG__/case_column/focus_01.jpg) no-repeat center center;">
	<div class="columnNavBlock">
		<!--left-->
		<div class="left">
			<div class="box">
				<div class="columnTitle">
					<p class="en">Our&nbsp;Cases</p>
					<p class="cn">我们的案例</p>
				</div>
				
				<div class="columnMenu">
					<a href="#">
						<div class="bg"></div>
						<div class="menuBlock">
							<i class="icon"></i>
							<div class="text">
								<p class="cn">家居装饰</p>
								<p class="en">Home Decoration</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!--right-->
		<div class="right">
			<div class="box">
				<div class="columnAllLink">
					<ul>
						<li class="hnavmore"><a href="#">All&nbsp;Cases&nbsp;&nbsp;全部案例</a>
							<ul>
								<li><a href="#">家居装饰</a></li>
								<li><a href="#">公共空间</a></li>
								<li><a href="#">现代简约</a></li>
							</ul>
						</li>
					</ul>
				</div>
				
				<div class="columnMenu">
					<a href="#">
						<div class="bg"></div>
						<div class="menuBlock">
							<i class="icon"></i>
							<div class="text">
								<p class="cn">公共空间</p>
								<p class="en">Public&nbsp;Space</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- focus end -->

<!-- list start -->
<div class="wrapper clearfix">
	<div class="caseList">
		<ul>
			<li>
				<a href="case_show.html">
					<img src="__IMG__/case_column/list/01.jpg" width="" height="300px;">
					<div class="bg"></div>
					<div class="mark">
						<h3>马太太的花园</h3>
						<p>阳光小区样式房设计</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="__IMG__/case_column/list/02.jpg" width="" height="300px;">
					<div class="bg"></div>
					<div class="mark">
						<h3>马太太的花园</h3>
						<p>阳光小区样式房设计</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="__IMG__/case_column/list/03.jpg" width="" height="300px;">
					<div class="bg"></div>
					<div class="mark">
						<h3>马太太的花园</h3>
						<p>阳光小区样式房设计</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="__IMG__/case_column/list/04.jpg" width="" height="300px;">
					<div class="bg"></div>
					<div class="mark">
						<h3>马太太的花园</h3>
						<p>阳光小区样式房设计</p>
					</div>
				</a>
			</li>
			
			<li>
				<a href="#">
					<img src="__IMG__/case_column/list/05.jpg" width="" height="300px;">
					<div class="bg"></div>
					<div class="mark">
						<h3>马太太的花园</h3>
						<p>阳光小区样式房设计</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="__IMG__/case_column/list/06.jpg" width="" height="300px;">
					<div class="bg"></div>
					<div class="mark">
						<h3>马太太的花园</h3>
						<p>阳光小区样式房设计</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="__IMG__/case_column/list/07.jpg" width="" height="300px;">
					<div class="bg"></div>
					<div class="mark">
						<h3>马太太的花园</h3>
						<p>阳光小区样式房设计</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="__IMG__/case_column/list/08.jpg" width="" height="300px;">
					<div class="bg"></div>
					<div class="mark">
						<h3>马太太的花园</h3>
						<p>阳光小区样式房设计</p>
					</div>
				</a>
			</li>
			
			<li>
				<a href="#">
					<img src="__IMG__/case_column/list/09.jpg" width="" height="300px;">
					<div class="bg"></div>
					<div class="mark">
						<h3>马太太的花园</h3>
						<p>阳光小区样式房设计</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="__IMG__/case_column/list/10.jpg" width="" height="300px;">
					<div class="bg"></div>
					<div class="mark">
						<h3>马太太的花园</h3>
						<p>阳光小区样式房设计</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="__IMG__/case_column/list/11.jpg" width="" height="300px;">
					<div class="bg"></div>
					<div class="mark">
						<h3>马太太的花园</h3>
						<p>阳光小区样式房设计</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="__IMG__/case_column/list/12.jpg" width="" height="300px;">
					<div class="bg"></div>
					<div class="mark">
						<h3>马太太的花园</h3>
						<p>阳光小区样式房设计</p>
					</div>
				</a>
			</li>
		</ul>
	<div class="clear"></div>
	</div>
	
	<!--page-->
	<div class="casePage">
		<div class="pageBox">
			<a class="num" href="#"></a>
			<a class="num" href="#"></a>
			<span class="current"></span>
			<a class="num" href="#"></a>
			<a class="num" href="#"></a>
		</div>
	<div class="clear"></div>
	</div>
<div class="clear"></div>
</div>
<!-- list end -->

<!-- footer start -->
<div class="wrapper footer">
	<ul class="left">
		<li>
			<p class="title">联系我们&nbsp;·&nbsp;CONTACT US</p>
			<p class="link">Tel：028-84700028<span>|</span>E-mail：1158753448@qq.com<span>|</span>Add：成都市锦江区静沙南路18号A座11楼01-03号</p>
		</li>
		<li>
			<p class="title">相关分享 · LEGAL NOTICES</p>
			<p class="link"><a href="#">微信</a><a href="#">微博</a><a href="#">二维码</a></p>
		</li>
	</ul>
	<div class="right">
		<p class="copy">版权所有：Copyright © 2014 The INGO BK Company</p>
		<p class="nav"><a href="#">网站首页</a><span>|</span><a href="#">产品中心</a><span>|</span><a href="#">网站导航</a><span>|</span><a href="contact.html">联系我们</a></p>
	</div>
</div>
<!-- footer end -->
</body>
<script src="js/jquery.min.js"></script>
<script>
$(function(){
	//根据外层容器宽度自动调整图片宽度
	$('.caseList').find('li').each(function(){
		var w = $(this).width();
		var img = $(this).find('img');
		img.attr('width',w);
	});
});
</script>
</html>
