<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>馨嘉达装饰 - 人才招聘</title>
<link href="__CSS__/main.css" rel="stylesheet" />
<link href="__CSS__/job.css" rel="stylesheet" />
</head>

<body>
<!-- header start -->
<div class="wrapper header" >
	<div id="logo"><a href="#" title="嘉馨达装饰"></a></div>
	<ul class="mainNav">
		<li><a href="/">首页</a></li>
		<li><a href="case.html">案例展示</a></li>
		<li><a href="gongyi.html">工艺展示</a></li>
		<li><a href="activity.html">最新活动</a></li>
		<li><a href="progres.html">进度查询</a></li>
		<li><a href="about.html">关于我们</a></li>
		<li class="current"><a href="job.html">人才招聘</a></li>
		<li><a href="contact.html">联系我们</a></li>
	</ul>
	<ul class="toolbar">
		<li class="tel"><a href="#"></a></li>
		<li class="email"><a href="#"></a></li>
		<li class="qq"><a href="#"></a></li>
	</ul>
</div>
<!-- header end -->

<!-- focus start -->
<div class="wrapper jobFocus">
	<div class="wrapper980">
		<div class="jobColumnTitle">
			<p class="en">Jobs</p>
			<p class="cn">招聘信息</p>
		</div>
	<div class="clear"></div>
	</div>
</div>
<!-- focus end -->

<!-- main start -->
<div class="wrapper" style="background:#fff;">
	<div class="wrapper980">
		<!--联系信息-->
		<div class="hrInfo">
			<p>联系电话：028-58645231</p>
			<p>人事邮箱：hr@jiaxinda.com</p>
		</div>
		<!--job list-->
		<div class="jobBox">
			
			<div class="listBlock">
				<div class="jobName">
					<h1>室内设计师</h1>
					<i class="jobIcon_01"></i>
				</div>
				<div class="jobContent">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>岗位职责：<br />
1、参与公司装饰工程项目的设计管理，提出设计意见；<br />
2、负责装修施工质量管理、招投标管理；<br />
3、参加方案设计、初步设计、施工图设计审核；<br />
4、参加市场调研，编制本系统相关技术经济方案；<br />
5、负责对项目进行跟踪和监督；<br />
6、设计师应协助材料部对装修项目材料进行确认工作；<br />
7、负责案例，技术及资源的整理；<br />
8、配合项目经理制定工作进度。<br />
						</td>
						<td style="width:100px;">&nbsp;</td>
						<td>
岗位职责：<br />
1、参与公司装饰工程项目的设计管理，提出设计意见；<br />
2、负责装修施工质量管理、招投标管理；<br />
3、参加方案设计、初步设计、施工图设计审核；<br />
4、参加市场调研，编制本系统相关技术经济方案；<br />
5、负责对项目进行跟踪和监督；<br />
6、设计师应协助材料部对装修项目材料进行确认工作；<br />
7、负责案例，技术及资源的整理；<br />
8、配合项目经理制定工作进度。<br />
						</td>
					</tr>
				</table>
				<div class="clear"></div>	
				</div>
			<div class="clear"></div>	
			</div>
			
			<div class="listBlock">
				<div class="jobName">
					<h1>市场部</h1>
					<i class="jobIcon_02"></i>
				</div>
				<div class="jobContent">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>岗位职责：<br />
1、参与公司装饰工程项目的设计管理，提出设计意见；<br />
2、负责装修施工质量管理、招投标管理；<br />
3、参加方案设计、初步设计、施工图设计审核；<br />
4、参加市场调研，编制本系统相关技术经济方案；<br />
5、负责对项目进行跟踪和监督；<br />
6、设计师应协助材料部对装修项目材料进行确认工作；<br />
7、负责案例，技术及资源的整理；<br />
8、配合项目经理制定工作进度。<br />
						</td>
						<td style="width:100px;">&nbsp;</td>
						<td>
岗位职责：<br />
1、参与公司装饰工程项目的设计管理，提出设计意见；<br />
2、负责装修施工质量管理、招投标管理；<br />
3、参加方案设计、初步设计、施工图设计审核；<br />
4、参加市场调研，编制本系统相关技术经济方案；<br />
5、负责对项目进行跟踪和监督；<br />
6、设计师应协助材料部对装修项目材料进行确认工作；<br />
7、负责案例，技术及资源的整理；<br />
8、配合项目经理制定工作进度。<br />
						</td>
					</tr>
				</table>
				<div class="clear"></div>	
				</div>
			<div class="clear"></div>	
			</div>
			
			<div class="listBlock">
				<div class="jobName">
					<h1>项目经理</h1>
					<i class="jobIcon_03"></i>
				</div>
				<div class="jobContent">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>岗位职责：<br />
1、参与公司装饰工程项目的设计管理，提出设计意见；<br />
2、负责装修施工质量管理、招投标管理；<br />
3、参加方案设计、初步设计、施工图设计审核；<br />
4、参加市场调研，编制本系统相关技术经济方案；<br />
5、负责对项目进行跟踪和监督；<br />
6、设计师应协助材料部对装修项目材料进行确认工作；<br />
7、负责案例，技术及资源的整理；<br />
8、配合项目经理制定工作进度。<br />
						</td>
						<td style="width:100px;">&nbsp;</td>
						<td>
岗位职责：<br />
1、参与公司装饰工程项目的设计管理，提出设计意见；<br />
2、负责装修施工质量管理、招投标管理；<br />
3、参加方案设计、初步设计、施工图设计审核；<br />
4、参加市场调研，编制本系统相关技术经济方案；<br />
5、负责对项目进行跟踪和监督；<br />
6、设计师应协助材料部对装修项目材料进行确认工作；<br />
7、负责案例，技术及资源的整理；<br />
8、配合项目经理制定工作进度。<br />
						</td>
					</tr>
				</table>
				<div class="clear"></div>	
				</div>
			<div class="clear"></div>	
			</div>
			
			<div class="listBlock">
				<div class="jobName">
					<h1>装修绘图员</h1>
					<i class="jobIcon_04"></i>
				</div>
				<div class="jobContent">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>岗位职责：<br />
1、参与公司装饰工程项目的设计管理，提出设计意见；<br />
2、负责装修施工质量管理、招投标管理；<br />
3、参加方案设计、初步设计、施工图设计审核；<br />
4、参加市场调研，编制本系统相关技术经济方案；<br />
5、负责对项目进行跟踪和监督；<br />
6、设计师应协助材料部对装修项目材料进行确认工作；<br />
7、负责案例，技术及资源的整理；<br />
8、配合项目经理制定工作进度。<br />
						</td>
						<td style="width:100px;">&nbsp;</td>
						<td>
岗位职责：<br />
1、参与公司装饰工程项目的设计管理，提出设计意见；<br />
2、负责装修施工质量管理、招投标管理；<br />
3、参加方案设计、初步设计、施工图设计审核；<br />
4、参加市场调研，编制本系统相关技术经济方案；<br />
5、负责对项目进行跟踪和监督；<br />
6、设计师应协助材料部对装修项目材料进行确认工作；<br />
7、负责案例，技术及资源的整理；<br />
8、配合项目经理制定工作进度。<br />
						</td>
					</tr>
				</table>
				<div class="clear"></div>	
				</div>
			<div class="clear"></div>	
			</div>
			
			<div class="listBlock">
				<div class="jobName">
					<h1>电话营销助理</h1>
					<i class="jobIcon_05"></i>
				</div>
				<div class="jobContent">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>岗位职责：<br />
1、参与公司装饰工程项目的设计管理，提出设计意见；<br />
2、负责装修施工质量管理、招投标管理；<br />
3、参加方案设计、初步设计、施工图设计审核；<br />
4、参加市场调研，编制本系统相关技术经济方案；<br />
5、负责对项目进行跟踪和监督；<br />
6、设计师应协助材料部对装修项目材料进行确认工作；<br />
7、负责案例，技术及资源的整理；<br />
8、配合项目经理制定工作进度。<br />
						</td>
						<td style="width:100px;">&nbsp;</td>
						<td>
岗位职责：<br />
1、参与公司装饰工程项目的设计管理，提出设计意见；<br />
2、负责装修施工质量管理、招投标管理；<br />
3、参加方案设计、初步设计、施工图设计审核；<br />
4、参加市场调研，编制本系统相关技术经济方案；<br />
5、负责对项目进行跟踪和监督；<br />
6、设计师应协助材料部对装修项目材料进行确认工作；<br />
7、负责案例，技术及资源的整理；<br />
8、配合项目经理制定工作进度。<br />
						</td>
					</tr>
				</table>
				<div class="clear"></div>	
				</div>
			<div class="clear"></div>	
			</div>
			
		<div class="clear"></div>
		</div>
	<div class="clear"></div>
	</div>
<div class="clear"></div>
</div>
<!-- main end -->

<!-- footer start -->
<div class="wrapper footer">
	<ul class="left">
		<li>
			<p class="title">联系我们&nbsp;·&nbsp;CONTACT US</p>
			<p class="link">Tel：028-84700028<span>|</span>E-mail：1158753448@qq.com<span>|</span>Add：成都市锦江区静沙南路18号A座11楼01-03号</p>
		</li>
		<li>
			<p class="title">相关分享 · LEGAL NOTICES</p>
			<p class="link"><a href="#">微信</a><a href="#">微博</a><a href="#">二维码</a></p>
		</li>
	</ul>
	<div class="right">
		<p class="copy">版权所有：Copyright © 2014 The INGO BK Company</p>
		<p class="nav"><a href="#">网站首页</a><span>|</span><a href="#">产品中心</a><span>|</span><a href="#">网站导航</a><span>|</span><a href="contact.html">联系我们</a></p>
	</div>
</div>
<!-- footer end -->
</body>
<script src="js/jquery.min.js"></script>
<script>
$(function(){
	$('.jobContent').hide();
	$('.jobContent').eq(0).show();
	$('.jobName').eq(0).css('background','#4c4c4c');
	$('.listBlock').each(function(){
		$(this).find('.jobName').click(function(){
			//内容显示后禁止再继续向下执行
			if($(this).siblings('.jobContent').is(':visible')) {		
				return false;
			}
			$('.jobContent').slideUp('slow'); //所的招聘内容向上滑动，并隐藏
			$(this).siblings('.jobContent').slideDown('slow');//当前招聘内容向下滑动，并显示
			$('.jobName').removeAttr('style'); //移除所有招聘名称的高亮背景色
			//$('.jobName').css('background',''); //移除所有招聘名称的高亮背景色
			$(this).css('background','#4c4c4c'); //给当前招聘名称加上高亮背景色

		});
	});
});
</script>
</html>